<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="infoForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="item_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cycle</ion-label>
      <ion-input type="number" formControlName="item_cycle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" formControlName="item_description"></ion-input>
    </ion-item>
    <div style="text-align: center; margin-top: 15px">
      <ion-button shape="round" color="primary" [disabled]="!infoForm.valid" (click)="updateInfo()">Update</ion-button>    
    </div>       
  </form>
</ion-content>